openapi: 3.1.0
info:
  title: ChatGPT Compatible Endpoint
  description: OpenAI-compatible chat completions endpoint supporting all chat models via Upmore
  version: 1.0.0
servers:
  - url: https://api.upmore.net
security:
  - bearerAuth: []
paths:
  /v1/chat/completions:
    post:
      operationId: createChatCompletionCompatible
      summary: Chat Completion
      description: Creates a model response for the given chat conversation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - messages
              properties:
                model:
                  type: string
                  enum:
                    - MiniMax-M3
                    - MiniMax-M2.7
                    - MiniMax-M2.7-highspeed
                    - MiniMax-M2.5
                    - MiniMax-M2.5-highspeed
                    - MiniMax-M2.1
                    - MiniMax-M2.1-highspeed
                    - MiniMax-M2
                    - doubao-seed-2-1-pro
                    - doubao-seed-2-1-turbo
                    - gpt-5.5
                    - deepseek-v4-pro
                    - deepseek-v4-flash
                    - kimi-k2.7-code
                    - kimi-k2.7-code-highspeed
                    - kimi-k2.6
                    - kimi-k2.5
                    - moonshot-v1-8k
                    - moonshot-v1-32k
                    - moonshot-v1-128k
                    - moonshot-v1-8k-vision-preview
                    - moonshot-v1-32k-vision-preview
                    - moonshot-v1-128k-vision-preview
                  description: Model ID to use for completion.
                  example: MiniMax-M3
                messages:
                  type: array
                  minItems: 1
                  description: A list of messages comprising the conversation so far.
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum: [system, user, assistant]
                      content:
                        oneOf:
                          - type: string
                          - type: array
                            items:
                              type: object
                  example:
                    - role: user
                      content: Hello!
                max_tokens:
                  type: integer
                  minimum: 1
                  description: The maximum number of tokens to generate in the chat completion.
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: Sampling temperature between 0 and 2. Higher values make output more random, lower values more deterministic.
                  example: 1
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Nucleus sampling threshold. An alternative to temperature.
                frequency_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalizes new tokens based on their existing frequency in the text so far.
                presence_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalizes new tokens based on whether they appear in the text so far.
                stream:
                  type: boolean
                  default: false
                  description: If true, partial message deltas will be sent as server-sent events.
                stop:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                  description: Up to 4 sequences where the API will stop generating further tokens.
                n:
                  type: integer
                  minimum: 1
                  default: 1
                  description: How many chat completion choices to generate for each input message.
                response_format:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [text, json_object]
                  description: 'An object specifying the format that the model must output. Setting to {"type": "json_object"} enables JSON mode.'
                tools:
                  type: array
                  items:
                    type: object
                  description: A list of tools the model may call. Currently, only functions are supported as a tool.
                tool_choice:
                  oneOf:
                    - type: string
                    - type: object
                  description: Controls which (if any) tool is called by the model.
                user:
                  type: string
                  description: A unique identifier representing your end-user.
      responses:
        "200":
          description: Completion generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletion"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    ChatCompletion:
      type: object
      required:
        - id
        - object
        - created
        - model
        - choices
      properties:
        id:
          type: string
          example: chatcmpl-abc123
        object:
          type: string
          example: chat.completion
        created:
          type: integer
          description: Unix timestamp of when the completion was created.
        model:
          type: string
          example: MiniMax-M3
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                    example: assistant
                  content:
                    type: string
                    example: Hello! How can I help you today?
              finish_reason:
                type: string
                enum: [stop, length, content_filter, tool_calls, null]
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
