openapi: 3.1.0
info:
  title: "Kling 1.6 i2v"
  description: "Kuaishou Kling 1.6 i2v — image-to-video generation via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /kling/v1/videos/image2video:
    post:
      operationId: createKlingV16I2v
      summary: Create Image-to-Video Task
      description: Generate a video from reference images using the kling-v1-6 model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_name:
                  type: string
                  enum:
                    - kling-v1-6
                  description: Model name
                  example: kling-v1-6
                image:
                  type: string
                  description: "Reference image (first frame). Base64 or URL. Formats: .jpg/.jpeg/.png, max 10MB, min 300px."
                image_tail:
                  type: string
                  description: "Reference image (end frame). At least one of image or image_tail is required."
                prompt:
                  type: string
                  maxLength: 2500
                  description: "Positive text prompt. Required when multi_shot is false."
                negative_prompt:
                  type: string
                  maxLength: 2500
                  description: Negative text prompt.
                mode:
                  type: string
                  enum: [std, pro]
                  default: std
                  description: "std: Standard. pro: Professional (higher quality)."
                duration:
                  type: string
                  enum: ["3","4","5","6","7","8","9","10","11","12","13","14","15"]
                  default: "5"
                  description: Video duration in seconds (3-15).
                cfg_scale:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.5
                  description: Prompt relevance (0-1). Higher = stronger adherence.
                multi_shot:
                  type: boolean
                  default: false
                  description: Enable multi-shot storyboarding.
                shot_type:
                  type: string
                  enum: [customize, intelligence]
                  description: Storyboard method.
                multi_prompt:
                  type: array
                  description: Storyboard info (1-6 shots).
                  items:
                    type: object
                    properties:
                      index:
                        type: integer
                      prompt:
                        type: string
                      duration:
                        type: string
                element_list:
                  type: array
                  description: Reference elements (max 3).
                  items:
                    type: object
                    properties:
                      element_id:
                        type: integer
                        format: int64
                sound:
                  type: string
                  enum: ["on","off"]
                  default: "off"
                  description: Generate sound. Only V2.6+.
                camera_control:
                  type: object
                  description: Camera movement control.
                  properties:
                    type:
                      type: string
                      enum: [simple, down_back, forward_up, right_turn_forward, left_turn_forward]
                    config:
                      type: object
                      properties:
                        horizontal:
                          type: number
                        vertical:
                          type: number
                        pan:
                          type: number
                        tilt:
                          type: number
                        roll:
                          type: number
                        zoom:
                          type: number
                static_mask:
                  type: string
                  description: Static brush mask (Base64 or URL).
                dynamic_masks:
                  type: array
                  description: Dynamic brush configs (up to 6).
                  items:
                    type: object
                    properties:
                      mask:
                        type: string
                      trajectories:
                        type: array
                        items:
                          type: object
                          properties:
                            x:
                              type: integer
                            y:
                              type: integer
                watermark_info:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                callback_url:
                  type: string
                external_task_id:
                  type: string
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "860260753860210752"
                  task_id:
                    type: string
                    example: "860260753860210752"
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: kling-v1-6
                  status:
                    type: string
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    example: 1773130665
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
