openapi: 3.1.0
info:
  title: GPT-5.2
  description: OpenAI GPT-5.2 via AnyFast OpenAI-compatible API (Responses endpoint)
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/responses:
    post:
      operationId: createResponseGPT52
      summary: Create Response
      description: Creates a model response for the given input. Some OpenAI models only support the Responses format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - input
              properties:
                model:
                  type: string
                  enum:
                    - gpt-5.2
                  description: Model ID
                  example: gpt-5.2
                input:
                  type: array
                  minItems: 1
                  description: Text or images for the model to generate a response.
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum: [user, assistant, system]
                      content:
                        type: string
                  example:
                    - role: user
                      content: Hello!
                stream:
                  type: boolean
                  default: false
                  description: If true, stream partial response deltas using SSE.
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: Sampling temperature. Higher values make output more random.
                  example: 1
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Nucleus sampling threshold.
                frequency_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalizes repeated tokens based on their frequency in the text so far.
                presence_penalty:
                  type: number
                  minimum: -2
                  maximum: 2
                  default: 0
                  description: Penalizes tokens that have already appeared in the text.
                max_output_tokens:
                  type: integer
                  minimum: 1
                  description: The maximum number of output tokens to generate.
                stop:
                  type: string
                  description: Sequences where the model will stop generating further tokens.
                n:
                  type: integer
                  minimum: 1
                  default: 1
                  description: How many response choices to generate.
                text:
                  type: object
                  description: Configuration options for model text response.
                  properties:
                    format:
                      type: object
                      properties:
                        type:
                          type: string
                          enum: [text, json_object]
                          description: The defined response format type.
                    verbosity:
                      type: string
                      enum: [low, medium, high]
                      description: Limits the verbosity of the model response. Default is medium.
                reasoning:
                  type: object
                  description: Configuration for model reasoning / thinking.
                  properties:
                    effort:
                      type: string
                      enum: [minimal, low, medium, high]
                      description: Reasoning effort level. Default is medium.
                    summary:
                      type: string
                      enum: [auto, concise, detailed]
                      description: Summary of reasoning performed by the model.
                tools:
                  type: array
                  items:
                    type: object
                  description: A list of tools the model may call.
                tool_choice:
                  type: string
                  description: Controls which (if any) tool is called by the model.
                store:
                  type: boolean
                  default: true
                  description: Whether to store the generated model response for later retrieval via API.
                user:
                  type: string
                  description: A unique identifier representing your end-user.
      responses:
        "200":
          description: Response generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseObject"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    ResponseObject:
      type: object
      required:
        - id
        - object
        - created_at
        - model
        - status
        - output
        - usage
      properties:
        id:
          type: string
          example: resp_0ed94fe7ec73cf560169afd97bba648194b8661d445cfa4244
        object:
          type: string
          example: response
        created_at:
          type: integer
          description: Unix timestamp when the response was created.
          example: 1773132155
        completed_at:
          type: integer
          description: Unix timestamp when the response was completed.
          example: 1773132156
        model:
          type: string
          example: gpt-5.2
        status:
          type: string
          enum: [completed, failed, in_progress, incomplete]
          example: completed
        output:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: msg_0ed94fe7ec73cf56
              type:
                type: string
                example: message
              role:
                type: string
                example: assistant
              status:
                type: string
                example: completed
              content:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      example: output_text
                    text:
                      type: string
                      example: Hi! How can I help you today?
                    annotations:
                      type: array
                      items:
                        type: object
        reasoning:
          type: object
          properties:
            effort:
              type: string
              example: high
            summary:
              type: string
              example: detailed
        text:
          type: object
          properties:
            format:
              type: object
              properties:
                type:
                  type: string
                  example: text
            verbosity:
              type: string
              example: medium
        usage:
          type: object
          properties:
            input_tokens:
              type: integer
              example: 8
            input_tokens_details:
              type: object
              properties:
                cached_tokens:
                  type: integer
                  example: 0
            output_tokens:
              type: integer
              example: 15
            output_tokens_details:
              type: object
              properties:
                reasoning_tokens:
                  type: integer
                  example: 0
            total_tokens:
              type: integer
              example: 23

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
