openapi: 3.1.0
info:
  title: "Seedance 2.0 Ultra"
  description: "ByteDance's Seedance 2.0 Ultra video generation model with text-to-video, image-to-video, multimodal reference, video editing, video extension, and web search."
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      operationId: createSeedanceUltra
      summary: Create Video Generation Task
      description: |
        Create an asynchronous video generation task. Supports multiple input modes:
        - Text-to-video
        - Image-to-video (first frame / first+last frame)
        - Multimodal reference (image + video + audio combinations)
        - Video editing
        - Video extension
        - Web search enhanced generation

        Poll `GET /v1/video/generations/{id}` until `status` is `succeeded`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
                - resolution
              properties:
                model:
                  type: string
                  enum:
                    - seedance-2.0-ultra
                  description: Model ID
                  example: seedance-2.0-ultra
                content:
                  type: array
                  description: |
                    Input content array for video generation. Supports text, images, videos, and audio in various combinations:
                    - Text only
                    - Text (optional) + Image(s)
                    - Text (optional) + Video(s)
                    - Text (optional) + Image + Audio
                    - Text (optional) + Image + Video
                    - Text (optional) + Video + Audio
                    - Text (optional) + Image + Video + Audio
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [text, image_url, video_url, audio_url]
                        description: |
                          Content type:
                          - `text` — Text prompt
                          - `image_url` — Image input (first frame / last frame / reference)
                          - `video_url` — Video input (reference video)
                          - `audio_url` — Audio input (reference audio)
                      text:
                        type: string
                        description: Text prompt describing the desired video. Recommended max 500 Chinese characters or 1000 English words.
                      image_url:
                        type: object
                        description: Image object.
                        properties:
                          url:
                            type: string
                            description: |
                              Image URL, Base64 data URI, or asset ID (`asset://<ASSET_ID>`).
                              Supported formats: jpeg, png, webp, bmp, tiff, gif. Max 30 MB per image.
                      video_url:
                        type: object
                        description: Video object.
                        properties:
                          url:
                            type: string
                            description: |
                              Video URL or asset ID (`asset://<ASSET_ID>`).
                              Supported formats: mp4, mov. Max 50 MB, duration 2–15s.
                      audio_url:
                        type: object
                        description: Audio object. Must be combined with at least one image or video.
                        properties:
                          url:
                            type: string
                            description: |
                              Audio URL, Base64 data URI, or asset ID (`asset://<ASSET_ID>`).
                              Supported formats: wav, mp3. Max 15 MB, duration 2–15s.
                      role:
                        type: string
                        enum: [first_frame, last_frame, reference_image, reference_video, reference_audio]
                        description: |
                          Role of the content item:
                          - `first_frame` — First frame image (image-to-video)
                          - `last_frame` — Last frame image (first+last frame mode)
                          - `reference_image` — Reference image (multimodal reference, 1–9 images)
                          - `reference_video` — Reference video (multimodal reference, max 3 videos)
                          - `reference_audio` — Reference audio (multimodal reference, max 3 clips)
                  example:
                    - type: text
                      text: "A cat playing piano in a sunlit room"
                    - type: image_url
                      image_url:
                        url: https://example.com/reference.jpg
                      role: reference_image
                generate_audio:
                  type: boolean
                  default: true
                  description: |
                    Generate synchronized audio with the video.
                    - `true` — Video includes auto-generated voice, sound effects, and background music
                    - `false` — Silent video
                resolution:
                  type: string
                  enum: ["720p", "1080p", "2k"]
                  description: "Output video resolution. **Required for Ultra.**"
                  example: "720p"
                ratio:
                  type: string
                  enum: ["16:9", "4:3", "1:1", "3:4", "9:16", "21:9", "adaptive"]
                  default: adaptive
                  description: |
                    Output aspect ratio. `adaptive` automatically selects the best ratio based on input.
                duration:
                  type: integer
                  minimum: 4
                  maximum: 15
                  default: 5
                  description: |
                    Video duration in seconds (integer, 4–15).
                tools:
                  type: array
                  description: Tools for the model to use. Currently supports web search (text-to-video only).
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [web_search]
                        description: Tool type. `web_search` enables internet search for real-time content.
                watermark:
                  type: boolean
                  default: false
                  description: Add watermark to the generated video.
      responses:
        "200":
          description: Video generation task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Task ID for polling
                    example: cgt-20260312231129-7db6s
                  task_id:
                    type: string
                    description: Task ID (same as id)
                    example: cgt-20260312231129-7db6s
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: seedance-2.0-ultra
                  status:
                    type: string
                    description: Initially empty
                    example: ""
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    description: Unix timestamp
                    example: 1773328294
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
