openapi: 3.1.0
info:
  title: "Seedance Task Query"
  description: "Query the status and result of a Seedance 2.0 video generation task via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/video/generations/{id}:
    get:
      operationId: getSeedanceTaskStatus
      summary: Query Video Generation Task
      description: "Retrieve the status and result of a Seedance 2.0 video generation task by its ID."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Task ID returned from the video generation request (format: `asyntask_xxx`)."
          example: "asyntask_h81efT0qwtLnzyt6VENmCZ6VXSfNxE2E"
      responses:
        "200":
          description: Task status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskQueryResponse'
        "401":
          description: Unauthorized
        "404":
          description: Task not found
components:
  schemas:
    TaskQueryResponse:
      type: object
      properties:
        code:
          type: string
          description: "Response code."
          example: "success"
        message:
          type: string
          description: "Response message."
          example: ""
        data:
          type: object
          properties:
            task_id:
              type: string
              description: "Platform task ID."
              example: "asyntask_h81efT0qwtLnzyt6VENmCZ6VXSfNxE2E"
            action:
              type: string
              description: "Generation action type, e.g. `generate`, `referenceGenerate`."
              example: "generate"
            status:
              type: string
              enum: [NOT_START, QUEUED, IN_PROGRESS, SUCCESS, FAILURE]
              description: "Task status. `NOT_START` / `QUEUED` / `IN_PROGRESS` — keep polling. `SUCCESS` — read `result_url`. `FAILURE` — read `fail_reason`; quota auto-refunded."
              example: "SUCCESS"
            result_url:
              type: string
              description: "Pre-signed video download URL (valid 24 hours). Omitted on failure."
              example: "https://ark-acg-cn-beijing.tos-cn-beijing.volces.com/...mp4?..."
            original_result_url:
              type: string
              description: "**Ultra/super-resolution tasks only.** Upstream original (pre-enhancement) video URL."
              example: "https://ark-acg-cn-beijing.tos-cn-beijing.volces.com/...mp4?..."
            fail_reason:
              type: string
              description: "Error message when `status = FAILURE`. **Backward compat**: when `status = SUCCESS`, this is copied from `result_url` for legacy clients (will be removed after deprecation window)."
              example: ""
            submit_time:
              type: integer
              description: "Task submit timestamp (Unix seconds)."
              example: 1777288506
            start_time:
              type: integer
              description: "Task start timestamp (Unix seconds). `0` if not started yet."
              example: 1777288508
            finish_time:
              type: integer
              description: "Task finish timestamp (Unix seconds)."
              example: 1777288800
            progress:
              type: string
              description: "Task progress percentage."
              example: "100%"
            request_id:
              type: string
              description: "Request trace ID for support / debugging."
              example: "20260427111505260254000NBdvZFoP"
            data:
              type: object
              description: "Upstream raw output. Field set varies by model."
              properties:
                content:
                  type: object
                  properties:
                    video_url:
                      type: string
                      description: "Generated video URL (same as outer `result_url` for non-ultra)."
                      example: "https://ark-acg-cn-beijing.tos-cn-beijing.volces.com/...mp4?..."
                created_at:
                  type: integer
                  example: 1777288506
                draft:
                  type: boolean
                  example: false
                duration:
                  type: integer
                  description: "Video duration (seconds)."
                  example: 5
                framespersecond:
                  type: integer
                  description: "Frames per second."
                  example: 24
                generate_audio:
                  type: boolean
                  description: "Whether audio was generated."
                  example: true
                id:
                  type: string
                  description: "Upstream task ID."
                  example: "cgt-20260427191505-9j2q7"
                model:
                  type: string
                  description: "Upstream model ID."
                  example: "doubao-seedance-2-0-260128"
                ratio:
                  type: string
                  description: "Video aspect ratio."
                  example: "16:9"
                resolution:
                  type: string
                  description: "Upstream raw resolution. **For ultra tasks** this is the lower upstream resolution (e.g. `480p`); the user-facing final resolution lives in `super_resolution`."
                  example: "720p"
                super_resolution:
                  type: string
                  description: "**Ultra tasks only.** User-facing final resolution after super-resolution enhancement (e.g. `720p`, `2k`)."
                  example: "720p"
                seed:
                  type: integer
                  example: 4304
                service_tier:
                  type: string
                  example: "default"
                status:
                  type: string
                  description: "Upstream status: `succeeded`, `failed`, `running`, etc."
                  example: "succeeded"
                updated_at:
                  type: integer
                  example: 1777288796
                usage:
                  type: object
                  description: "Token usage. Ultra tasks include `super_resolution_tokens`."
                  properties:
                    completion_tokens:
                      type: integer
                      description: "Upstream raw completion tokens."
                      example: 108900
                    total_tokens:
                      type: integer
                      description: "Upstream raw total tokens."
                      example: 108900
                    super_resolution_tokens:
                      type: integer
                      description: "**Ultra tasks only.** Tokens after applying the super-resolution coefficient — corresponds to the actual billed token count."
                      example: 245025
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
