openapi: 3.1.0
info:
  title: "Volc Asset — Create Asset Group"
  description: "Create an asset group for managing media resources used by Seedance via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /volc/asset/CreateAssetGroup:
    post:
      operationId: createAssetGroup
      summary: Create Asset Group
      description: "Create a new asset group to organize media resources (images, videos, audio) for use with Seedance video generation."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - Name
              properties:
                model:
                  type: string
                  default: volc-asset
                  description: "Model name for billing. Default: `volc-asset`."
                  example: volc-asset
                Name:
                  type: string
                  description: "Asset group name."
                  example: my-project-assets
      responses:
        "200":
          description: Asset group created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    description: "Asset group ID."
                    example: "group-20260320120601-hsw4s"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
