openapi: 3.1.0
info:
  title: Kling V3 Omni
  description: Kuaishou Kling V3 Omni video generation model via AnyFast API
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /kling/v1/videos/omni-video:
    post:
      operationId: createKlingV3OmniVideo
      summary: Create Video Task
      description: Create an Omni video generation task. The Omni model can achieve various capabilities through Prompt with elements, images, videos, and other content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_name:
                  type: string
                  enum:
                    - kling-v3-omni
                  description: Model name
                  example: kling-v3-omni
                prompt:
                  type: string
                  maxLength: 2500
                  description: Text prompt for video generation. Supports positive and negative descriptions. Use <<<element_1>>>, <<<image_1>>>, <<<video_1>>> to reference elements/images/videos. Required when multi_shot is false.
                  example: "A cat walking gracefully across a sunlit garden"
                mode:
                  type: string
                  enum:
                    - std
                    - pro
                  default: pro
                  description: "Video generation mode. std: Standard mode (cost-effective). pro: Professional mode (higher quality)."
                  example: pro
                aspect_ratio:
                  type: string
                  enum:
                    - "16:9"
                    - "9:16"
                    - "1:1"
                  description: Aspect ratio of generated video (width:height). Required when NOT using first-frame reference or video editing.
                  example: "16:9"
                duration:
                  type: string
                  enum:
                    - "3"
                    - "4"
                    - "5"
                    - "6"
                    - "7"
                    - "8"
                    - "9"
                    - "10"
                    - "11"
                    - "12"
                    - "13"
                    - "14"
                    - "15"
                  default: "5"
                  description: Video duration in seconds (3–15).
                  example: "5"
                multi_shot:
                  type: boolean
                  default: false
                  description: Whether to generate multi-shot video. When true, prompt is ignored; use multi_prompt instead.
                shot_type:
                  type: string
                  enum:
                    - customize
                  description: Storyboard method. Required when multi_shot is true.
                multi_prompt:
                  type: array
                  description: Storyboard information (1–6 shots). Required when multi_shot is true and shot_type is customize.
                  items:
                    type: object
                    required:
                      - index
                      - prompt
                      - duration
                    properties:
                      index:
                        type: integer
                        description: Shot sequence number
                      prompt:
                        type: string
                        maxLength: 512
                        description: Prompt for this storyboard shot
                      duration:
                        type: string
                        description: Duration for this shot (must be ≥ 1, sum must equal total duration)
                image_list:
                  type: array
                  description: Reference image list. Supports first/end frame, scene, style references. Formats .jpg/.jpeg/.png, max 10MB, min 300px, aspect ratio 1:2.5–2.5:1.
                  items:
                    type: object
                    required:
                      - image_url
                    properties:
                      image_url:
                        type: string
                        description: Image URL or Base64 encoded string
                      type:
                        type: string
                        enum:
                          - first_frame
                          - end_frame
                        description: "Frame type: first_frame or end_frame. End frame requires first frame."
                element_list:
                  type: array
                  description: Reference element list from Kling element library.
                  items:
                    type: object
                    required:
                      - element_id
                    properties:
                      element_id:
                        type: integer
                        format: int64
                        description: Element ID from element library
                video_list:
                  type: array
                  description: Reference video list. MP4/MOV only, ≥3s, 720px–2160px, 24–60fps, max 200MB.
                  items:
                    type: object
                    required:
                      - video_url
                    properties:
                      video_url:
                        type: string
                        description: Video URL
                      refer_type:
                        type: string
                        enum:
                          - feature
                          - base
                        default: base
                        description: "Reference type. base: video editing. feature: video style/camera reference."
                      keep_original_sound:
                        type: string
                        enum:
                          - "yes"
                          - "no"
                        description: Whether to keep original sound from reference video
                sound:
                  type: string
                  enum:
                    - "on"
                    - "off"
                  default: "off"
                  description: Whether to generate sound with the video. Must be off when video_list is present.
                watermark_info:
                  type: object
                  description: Watermark configuration
                  properties:
                    enabled:
                      type: boolean
                      description: Whether to generate watermarked result
                callback_url:
                  type: string
                  description: Callback URL for task status notifications
                external_task_id:
                  type: string
                  description: Custom task ID. Must be unique per account.
      responses:
        "200":
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoTask"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    VideoTask:
      type: object
      properties:
        id:
          type: string
          description: Task ID
          example: "860260753860210752"
        task_id:
          type: string
          description: Task ID
          example: "860260753860210752"
        object:
          type: string
          example: video
        model:
          type: string
          example: kling-v3-omni
        status:
          type: string
          description: Task status
        progress:
          type: integer
          description: Progress percentage
          example: 0
        created_at:
          type: integer
          description: Unix timestamp
          example: 1773130665

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
