openapi: 3.1.0
info:
  title: "Sora 2 Query Task"
  description: "Query a Sora 2 video generation task status via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/videos/{id}:
    get:
      operationId: querySora2Task
      summary: Query Video Task Status
      description: "Query the status and details of a Sora 2 video generation task."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "Video task ID returned from the create endpoint."
          example: "video_69b131ea03548190925a6a06febf993b"
      responses:
        "200":
          description: Task status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "video_69b131ea03548190925a6a06febf993b"
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: sora-2
                  status:
                    type: string
                    enum: [queued, in_progress, completed, failed]
                    example: in_progress
                  progress:
                    type: integer
                    example: 0
                  prompt:
                    type: string
                    example: "A cat walking through a sunflower field"
                  seconds:
                    type: string
                    example: "12"
                  size:
                    type: string
                    example: "1280x720"
                  created_at:
                    type: integer
                    example: 1773220330
                  completed_at:
                    type: integer
                    nullable: true
                    example: null
                  expires_at:
                    type: integer
                    nullable: true
                    example: null
                  error:
                    type: string
                    nullable: true
                    example: null
                  remixed_from_video_id:
                    type: string
                    nullable: true
                    example: null
        "401":
          description: Unauthorized
        "404":
          description: Task not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
