openapi: 3.1.0
info:
  title: Kling 1.6 mi2v
  description: Kuaishou Kling 1.6 multi-image-to-video generation via AnyFast API
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /kling/v1/videos/multi-image2video:
    post:
      operationId: createKlingV16Mi2v
      summary: Create Multi-Image-to-Video Task
      description: Generate a video from multiple reference images (up to 4) using the kling-v1-6 model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_list
                - prompt
              properties:
                model_name:
                  type: string
                  enum:
                    - kling-v1-6
                  default: kling-v1-6
                  description: Model name
                  example: kling-v1-6
                image_list:
                  type: array
                  minItems: 1
                  maxItems: 4
                  description: "Reference image list (1–4 images). Formats: .jpg/.jpeg/.png, max 10MB, min 300px, aspect ratio 1:2.5–2.5:1."
                  items:
                    type: object
                    required:
                      - image
                    properties:
                      image:
                        type: string
                        description: "Image URL or Base64 string (no data: prefix)"
                prompt:
                  type: string
                  maxLength: 2500
                  description: Positive text prompt. Required. Max 2500 characters.
                  example: "The four characters gather around a campfire and share stories"
                negative_prompt:
                  type: string
                  maxLength: 2500
                  description: Negative text prompt. Max 2500 characters.
                mode:
                  type: string
                  enum: [std, pro]
                  default: std
                  description: "std: Standard (cost-effective). pro: Professional (higher quality)."
                duration:
                  type: string
                  enum: ["5", "10"]
                  default: "5"
                  description: Video duration in seconds (5 or 10).
                  example: "5"
                aspect_ratio:
                  type: string
                  enum: ["16:9", "9:16", "1:1"]
                  default: "16:9"
                  description: Aspect ratio of generated video (width:height).
                  example: "16:9"
                watermark_info:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether to generate watermarked result
                callback_url:
                  type: string
                  description: Callback URL for task status notifications
                external_task_id:
                  type: string
                  description: Custom task ID. Must be unique per account.
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "860260753860210752"
                  task_id:
                    type: string
                    example: "860260753860210752"
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: kling-v1-6
                  status:
                    type: string
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    example: 1773130665
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
