openapi: 3.1.0
info:
  title: "Seedance 2.0 Asset — Create Asset"
  description: "Upload an asset (image, video, audio) to an asset group via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /volc/asset/CreateAsset:
    post:
      operationId: createAsset
      summary: Create Asset
      description: "Upload an asset to an existing asset group. Supports Image, Video, and Audio types. Supports JSON (URL / Base64 / Data URI) and multipart file upload. The returned Asset ID can be used as `Asset://<ID>` in Seedance 2.0 requests."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - GroupId
                - AssetType
                - URL
              properties:
                model:
                  type: string
                  enum:
                    - volc-asset
                    - volc-asset-video
                    - volc-asset-audio
                  description: "Billing model. `volc-asset` (default) for images, `volc-asset-video` for video (required), `volc-asset-audio` for audio (required)."
                  example: volc-asset
                GroupId:
                  type: string
                  description: "Asset group ID."
                  example: "group-20260319072926-rrnmg"
                Name:
                  type: string
                  description: "Asset name."
                  example: "character-reference"
                AssetType:
                  type: string
                  enum: [Image, Video, Audio]
                  description: "Asset type: `Image`, `Video`, or `Audio`."
                  example: Image
                URL:
                  type: string
                  description: "Asset URL, Data URI, or raw Base64 string. Base64/Data URI are auto-uploaded to object storage."
                  example: "https://example.com/image.jpg"
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - GroupId
              properties:
                model:
                  type: string
                  enum:
                    - volc-asset
                    - volc-asset-video
                    - volc-asset-audio
                  description: "Billing model. `volc-asset` (default) for images, `volc-asset-video` for video, `volc-asset-audio` for audio."
                file:
                  type: string
                  format: binary
                  description: "File to upload."
                GroupId:
                  type: string
                  description: "Asset group ID."
                Name:
                  type: string
                  description: "Asset name. Defaults to filename without extension."
                AssetType:
                  type: string
                  enum: [Image, Video, Audio]
                  default: Image
                  description: "Asset type. Default: `Image`."
      responses:
        "200":
          description: Asset created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Id:
                    type: string
                    description: "Asset ID. Use as `Asset://<ID>` in Seedance 2.0 requests."
                    example: "asset-20260320120147-pqwhc"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
