openapi: 3.1.0
info:
  title: "HappyHorse 1.0 Video Edit"
  description: "Alibaba DashScope HappyHorse 1.0 video editing via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      operationId: createHappyhorse10VideoEdit
      summary: Create Video Edit Task
      description: >
        Submit a video editing task that combines an input video and a reference image.
        Must use the **native** request format with `input.media[]` array — flat top-level
        / unified-framework simplifications are not supported. Returns a `task_id` immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - input
              properties:
                model:
                  type: string
                  enum:
                    - happyhorse-1.0-video-edit
                  description: "Model ID."
                  example: happyhorse-1.0-video-edit
                input:
                  type: object
                  required:
                    - prompt
                    - media
                  properties:
                    prompt:
                      type: string
                      description: "Text description of the edit."
                      example: "Make the character in the video wear the striped sweater from the image"
                    media:
                      type: array
                      minItems: 2
                      maxItems: 2
                      description: "Exactly 2 items: one video and one reference image."
                      items:
                        type: object
                        required:
                          - type
                          - url
                        properties:
                          type:
                            type: string
                            enum: ["video", "reference_image"]
                            description: "Media type."
                          url:
                            type: string
                            description: "Public URL of the video or reference image."
                      example:
                        - {type: "video", url: "https://example.com/source.mp4"}
                        - {type: "reference_image", url: "https://example.com/cloth.webp"}
                parameters:
                  type: object
                  description: "Generation parameters (DashScope-native style)."
                  properties:
                    resolution:
                      type: string
                      enum: ["720P", "1080P"]
                      default: "1080P"
                      example: "720P"
                    watermark:
                      type: boolean
                      default: true
                      example: false
                    seed:
                      type: integer
                      minimum: 0
                      maximum: 2147483647
      responses:
        "200":
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "asyntask_jwgfhsG0m2aDjLmiiELRf74eoWmss6ya"
                  task_id:
                    type: string
                    example: "asyntask_jwgfhsG0m2aDjLmiiELRf74eoWmss6ya"
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: happyhorse-1.0-video-edit
                  status:
                    type: string
                    example: queued
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    example: 1777343862
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
