openapi: 3.1.0
info:
  title: "Seedance 1.0 Lite i2v"
  description: "ByteDance Seedance 1.0 Lite i2v video generation via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      operationId: createSeedance10LiteI2v
      summary: Create Video Generation Task
      description: "Generate a video using the doubao-seedance-1-0-lite-i2v-250428 model."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedance-1-0-lite-i2v-250428
                  description: Model ID
                  example: doubao-seedance-1-0-lite-i2v-250428
                content:
                  type: array
                  minItems: 1
                  description: "Multimodal content array. Must include a text item. For i2v, add image_url items with role."
                  items:
                    oneOf:
                      - type: object
                        description: Text prompt
                        required:
                          - type
                          - text
                        properties:
                          type:
                            type: string
                            enum: [text]
                          text:
                            type: string
                            description: "Text prompt for video generation."
                      - type: object
                        description: "Reference image. Add role: first_frame or last_frame for i2v."
                        required:
                          - type
                          - image_url
                        properties:
                          type:
                            type: string
                            enum: [image_url]
                          image_url:
                            type: object
                            required:
                              - url
                            properties:
                              url:
                                type: string
                                description: Image URL
                          role:
                            type: string
                            enum: [first_frame, last_frame]
                            description: "Role of the image: first_frame or last_frame."
                ratio:
                  type: string
                  enum: ["16:9", "4:3", "1:1", "3:4", "9:16", "21:9", "adaptive"]
                  default: "16:9"
                  description: "Aspect ratio. adaptive support varies by model."
                  example: "16:9"
                resolution:
                  type: string
                  enum: ["480p", "720p", "1080p"]
                  default: "720p"
                  description: "Output resolution."
                  example: "720p"
                duration:
                  type: integer
                  minimum: 2
                  maximum: 12
                  default: 5
                  description: "Video duration in seconds (2-12)."
                  example: 5

                watermark:
                  type: boolean
                  default: false
                  description: "Whether to include watermark."
                seed:
                  type: integer
                  description: "Random seed for reproducibility."
                camera_fixed:
                  type: boolean
                  default: false
                  description: "Fix camera position."
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "gen-abc123"
                  model:
                    type: string
                    example: doubao-seedance-1-0-lite-i2v-250428
                  status:
                    type: string
                    example: processing
                  created_at:
                    type: integer
                    example: 1773130665
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
