openapi: 3.1.0
info:
  title: "Wan2 Task Query"
  description: "Query the status and result of a Wan2 video generation task via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/video/generations/{task_id}:
    get:
      operationId: getWan2TaskStatus
      summary: Query Video Generation Task
      description: "Retrieve the status and result of a Wan2 video generation task."
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
          description: "Task ID returned from the video generation request."
          example: "5WZH6fIngVFPrffXrECtcN"
      responses:
        "200":
          description: Task status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        example: "5WZH6fIngVFPrffXrECtcN"
                      status:
                        type: string
                        enum: [queued, processing, succeeded, failed]
                        example: succeeded
                      format:
                        type: string
                        example: mp4
                      url:
                        type: string
                        description: "Video download URL (valid ~24 hours, only when succeeded)."
                        example: "https://example.com/output.mp4"
                      error:
                        type: string
                        nullable: true
                        description: "Error message (only when failed)."
                      metadata:
                        type: object
                        nullable: true
        "401":
          description: Unauthorized
        "404":
          description: Task not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
