openapi: 3.1.0
info:
  title: "Wan2.2 T2V A14B"
  description: "Wan2.2 T2V A14B video generation model via Alibaba via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      operationId: createWan22T2vA14b
      summary: Create Video Generation Task
      description: >
        Submit a video generation task. Returns a `task_id` immediately.
        Poll `GET /v1/video/generations/{task_id}` to check status and retrieve the video URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - wan2.2-t2v-a14b
                  description: Model ID
                  example: wan2.2-t2v-a14b
                prompt:
                  type: string
                  description: "Text description of the video to generate."
                  example: "a cat playing piano"
                duration:
                  type: number
                  minimum: 3
                  maximum: 5
                  default: 5
                  description: "Video duration in seconds (3–5)."
                  example: 5
                width:
                  type: integer
                  description: "Output video width in pixels."
                  example: 1280
                height:
                  type: integer
                  description: "Output video height in pixels."
                  example: 720
                seed:
                  type: integer
                  description: "Random seed for reproducibility."
                metadata:
                  type: object
                  description: "Extra parameters passed through to the upstream API."
      responses:
        "200":
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "5WZH6fIngVFPrffXrECtcN"
                  task_id:
                    type: string
                    example: "5WZH6fIngVFPrffXrECtcN"
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: wan2.2-t2v-a14b
                  status:
                    type: string
                    example: ""
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    example: 1773803799
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
