openapi: 3.1.0
info:
  title: "Seedream 4.0 i2i"
  description: "ByteDance Seedream 4.0 — image-to-image generation via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/images/generations:
    post:
      operationId: createSeedream40I2i
      summary: Create Image-to-Image Task
      description: "Generate an image from text and reference images using the doubao-seedream-4-0-250828 model."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
                - image
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedream-4-0-250828
                  description: Model ID
                  example: doubao-seedream-4-0-250828
                prompt:
                  type: string
                  description: "Text prompt for image generation."
                  example: "A girl and a cow doll happily riding a roller coaster in an amusement park"
                image:
                  type: array
                  items:
                    type: string
                  description: "Reference image URLs for image-to-image generation. Required for i2i."
                  example:
                    - "https://example.com/ref1.png"
                    - "https://example.com/ref2.png"
                sequential_image_generation:
                  type: string
                  enum: ["auto"]
                  description: "Sequential image generation mode. Set to 'auto' to generate a batch of images."
                sequential_image_generation_options:
                  type: object
                  description: "Options for sequential image generation."
                  properties:
                    max_images:
                      type: integer
                      description: "Maximum number of images to generate in a batch."
                      example: 3
                size:
                  type: string
                  description: "Output image size. Supported values vary by model."
                  example: "1024x1024"
                watermark:
                  type: boolean
                  default: false
                  description: "Whether to include watermark."
                seed:
                  type: integer
                  description: "Random seed for reproducibility."
                logo_info:
                  type: object
                  description: "Custom logo/watermark configuration."
                  properties:
                    add_logo:
                      type: boolean
                      description: "Whether to add a logo watermark."
                    position:
                      type: integer
                      description: "Logo position."
                    language:
                      type: integer
                      description: "Logo language."
                    opacity:
                      type: number
                      description: "Logo opacity (0-1)."
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "gen-abc123"
                  model:
                    type: string
                    example: doubao-seedream-4-0-250828
                  status:
                    type: string
                    example: processing
                  created_at:
                    type: integer
                    example: 1773130665
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
