openapi: 3.1.0
info:
  title: "Kling 2.6 t2v"
  description: "Kuaishou Kling 2.6 t2v — text-to-video generation via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /kling/v1/videos/text2video:
    post:
      operationId: createKlingV26T2v
      summary: Create Text-to-Video Task
      description: Generate a video from text prompt using the kling-v2-6 model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                model_name:
                  type: string
                  enum:
                    - kling-v2-6
                  description: Model name
                  example: kling-v2-6
                prompt:
                  type: string
                  maxLength: 2500
                  description: "Positive text prompt. Max 2500 characters."
                  example: "A cat walking through a field of sunflowers at golden hour"
                negative_prompt:
                  type: string
                  maxLength: 2500
                  description: Negative text prompt. Max 2500 characters.
                mode:
                  type: string
                  enum: [std, pro]
                  default: std
                  description: "std: Standard (cost-effective). pro: Professional (higher quality)."
                duration:
                  type: string
                  enum: ["3","4","5","6","7","8","9","10","11","12","13","14","15"]
                  default: "5"
                  description: Video duration in seconds (3-15).
                  example: "5"
                aspect_ratio:
                  type: string
                  enum: ["16:9", "9:16", "1:1"]
                  default: "16:9"
                  description: "Aspect ratio of generated video (width:height)."
                  example: "16:9"
                cfg_scale:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.5
                  description: "Prompt relevance (0-1). Higher = stronger adherence. Not supported by kling-v2.x models."
                multi_shot:
                  type: boolean
                  default: false
                  description: "Enable multi-shot storyboarding. When true, prompt is ignored; use multi_prompt instead."
                shot_type:
                  type: string
                  enum: [customize, intelligence]
                  description: "Storyboard method. Required when multi_shot is true."
                multi_prompt:
                  type: array
                  description: "Storyboard shots (1-6). Required when multi_shot is true and shot_type is customize."
                  items:
                    type: object
                    properties:
                      index:
                        type: integer
                      prompt:
                        type: string
                        maxLength: 512
                      duration:
                        type: string
                sound:
                  type: string
                  enum: ["on","off"]
                  default: "off"
                  description: "Generate sound with video. Only V2.6+ models."
                camera_control:
                  type: object
                  description: Camera movement control.
                  properties:
                    type:
                      type: string
                      enum: [simple, down_back, forward_up, right_turn_forward, left_turn_forward]
                    config:
                      type: object
                      properties:
                        horizontal:
                          type: number
                        vertical:
                          type: number
                        pan:
                          type: number
                        tilt:
                          type: number
                        roll:
                          type: number
                        zoom:
                          type: number
                watermark_info:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether to generate watermarked result
                callback_url:
                  type: string
                  description: Callback URL for task status notifications
                external_task_id:
                  type: string
                  description: Custom task ID. Must be unique per account.
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "860260753860210752"
                  task_id:
                    type: string
                    example: "860260753860210752"
                  object:
                    type: string
                    example: video
                  model:
                    type: string
                    example: kling-v2-6
                  status:
                    type: string
                  progress:
                    type: integer
                    example: 0
                  created_at:
                    type: integer
                    example: 1773130665
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
