openapi: 3.1.0
info:
  title: "Seedream 4.0 t2i"
  description: "ByteDance Seedream 4.0 — text-to-image generation via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/images/generations:
    post:
      operationId: createSeedream40T2i
      summary: Create Text-to-Image Task
      description: "Generate an image from text using the doubao-seedream-4-0-250828 model."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedream-4-0-250828
                  description: Model ID
                  example: doubao-seedream-4-0-250828
                prompt:
                  type: string
                  description: "Text prompt for image generation."
                  example: "A girl and a cow doll happily riding a roller coaster in an amusement park"
                size:
                  type: string
                  enum:
                    - "1024x1024"
                    - "864x1152"
                    - "1152x864"
                    - "1312x736"
                    - "736x1312"
                    - "832x1248"
                    - "1248x832"
                    - "1568x672"
                    - "2048x2048"
                    - "1728x2304"
                    - "2304x1728"
                    - "2848x1600"
                    - "1600x2848"
                    - "2496x1664"
                    - "1664x2496"
                    - "3136x1344"
                    - "4096x4096"
                    - "3520x4704"
                    - "4704x3520"
                    - "5504x3040"
                    - "3040x5504"
                    - "3328x4992"
                    - "4992x3328"
                    - "6240x2656"
                  description: "Output image size."
                  example: "1024x1024"
                watermark:
                  type: boolean
                  default: false
                  description: "Whether to include watermark."
                seed:
                  type: integer
                  description: "Random seed for reproducibility."
                logo_info:
                  type: object
                  description: "Custom logo/watermark configuration."
                  properties:
                    add_logo:
                      type: boolean
                      description: "Whether to add a logo watermark."
                    position:
                      type: integer
                      description: "Logo position."
                    language:
                      type: integer
                      description: "Logo language."
                    opacity:
                      type: number
                      description: "Logo opacity (0-1)."
      responses:
        "200":
          description: Image generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  model:
                    type: string
                    description: "Model used for generation."
                    example: "doubao-seedream-4-0-250828"
                  created:
                    type: integer
                    description: "Creation timestamp (Unix seconds)."
                    example: 1775029815
                  data:
                    type: array
                    description: "Generated image list."
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          description: "URL of the generated image."
                          example: "https://ark-content-generation-v2-cn-beijing.example.com/image.png"
                        size:
                          type: string
                          description: "Image dimensions."
                          example: "2048x2048"
                  usage:
                    type: object
                    description: "Token usage."
                    properties:
                      generated_images:
                        type: integer
                        description: "Number of images generated."
                        example: 1
                      output_tokens:
                        type: integer
                        description: "Output tokens consumed."
                        example: 16384
                      total_tokens:
                        type: integer
                        description: "Total tokens consumed."
                        example: 16384
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
