openapi: 3.1.0
info:
  title: "Seedance Asset — List Asset Groups"
  description: "Query asset groups via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /volc/asset/ListAssetGroups:
    post:
      operationId: listAssetGroups
      summary: List Asset Groups
      description: "Query asset groups with optional filters. This is a read-only operation and is not billed."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAssetGroupsRequest'
      responses:
        "200":
          description: Asset groups retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssetGroupsResponse'
        "401":
          description: Unauthorized
components:
  schemas:
    ListAssetGroupsFilter:
      type: object
      properties:
        Name:
          type: string
          description: "Fuzzy match by group name."
          example: "my-project"
        GroupIds:
          type: array
          items:
            type: string
          description: "Exact match by group ID list."
          example:
            - "group-20260320141746-zsf6b"
    ListAssetGroupsRequest:
      type: object
      required:
        - model
        - Filter
      properties:
        model:
          type: string
          description: "Model name. Default: `volc-asset`."
          example: volc-asset
        Filter:
          $ref: '#/components/schemas/ListAssetGroupsFilter'
        PageNumber:
          type: integer
          description: "Page number. Default: `1`."
          example: 1
        PageSize:
          type: integer
          description: "Items per page. Default: `10`."
          example: 10
      example:
        model: "volc-asset"
        Filter:
          Name: "my-project"
          GroupIds:
            - "group-20260320141746-zsf6b"
        PageNumber: 1
        PageSize: 10
    ListAssetGroupsResponse:
      type: object
      properties:
        Items:
          type: array
          items:
            type: object
            properties:
              Id:
                type: string
                example: "group-20260320141746-zsf6b"
              Name:
                type: string
                example: "test-token"
              Title:
                type: string
                description: "Display title with user/token prefix."
                example: "[u-1]-[t-88] test-token"
              GroupType:
                type: string
                example: "AIGC"
              ProjectName:
                type: string
                example: "default"
              CreateTime:
                type: string
                example: "2026-03-20T14:17:46Z"
              UpdateTime:
                type: string
                example: "2026-03-20T14:17:46Z"
        PageNumber:
          type: integer
          example: 1
        PageSize:
          type: integer
          example: 10
        TotalCount:
          type: integer
          example: 2
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
