openapi: 3.1.0
info:
  title: Seedance 2.0
  description: ByteDance video generation model
  version: "1.0"
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/videos/generations:
    post:
      operationId: createSeedanceGeneration
      summary: Create Video Generation
      description: Submit a video generation task using Seedance 2.0. This is an asynchronous operation — use the returned task ID to poll for the result.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  description: Model identifier
                  enum:
                    - seedance-2.0
                  example: seedance-2.0
                prompt:
                  type: string
                  description: Text description of the video content
                  example: A cat walking on a sunny beach, cinematic
                duration:
                  type: integer
                  description: Video duration in seconds
                  enum: [5, 10]
                  default: 5
                resolution:
                  type: string
                  description: Output video resolution
                  enum: ["720p", "1080p"]
                  default: "720p"
                seed:
                  type: integer
                  description: Random seed for reproducibility
                  example: 42
      responses:
        "200":
          description: Task submitted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/videos/generations/{task_id}:
    get:
      operationId: getSeedanceGeneration
      summary: Get Task Status
      description: Poll the status and retrieve the result of a video generation task.
      parameters:
        - name: task_id
          in: path
          required: true
          description: Task ID returned by the create endpoint
          schema:
            type: string
            example: task_abc123xyz
      responses:
        "200":
          description: Task details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskResult"
        "404":
          description: Task not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Task:
      type: object
      properties:
        id:
          type: string
          description: Task ID to use for polling
          example: task_abc123xyz
        status:
          type: string
          enum: [pending, processing, completed, failed]
          description: Current status of the task
        created_at:
          type: integer
          description: Unix timestamp of task creation

    TaskResult:
      allOf:
        - $ref: "#/components/schemas/Task"
        - type: object
          properties:
            video_url:
              type: string
              description: URL of the generated video. Available when status is `completed`.
              example: https://cdn.anyfast.ai/videos/abc123.mp4
            error:
              type: string
              description: Error message. Available when status is `failed`.

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: invalid_request
            message:
              type: string
              example: "Field 'prompt' is required"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
