openapi: 3.1.0
info:
  title: Seedance 2.0 Video Generation
  description: ByteDance Seedance video generation via the Upmore async task API
  version: 1.0.0
servers:
  - url: https://api.upmore.net
security:
  - bearerAuth: []
paths:
  /v1/video/generations:
    post:
      operationId: createSeedanceVideoTask
      summary: Create video task
      description: Creates an async video generation task. Poll the task query endpoint for the result; generation typically takes 1–5 minutes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - content
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedance-2-0
                    - doubao-seedance-2-0-fast
                    - doubao-seedance-2-0-mini
                  example: doubao-seedance-2-0
                  description: The video generation model to use.
                content:
                  type: array
                  description: Input content items. Text-to-video uses a single text item; add image_url / video_url / audio_url items for image-to-video, multimodal reference, video editing, or extension. First-frame, first+last-frame, and multimodal-reference modes are mutually exclusive.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [text, image_url, video_url, audio_url]
                      text:
                        type: string
                        description: Text prompt (max 500 Chinese chars / 1000 English words). For text items.
                      image_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: Image URL, Base64 data URI, or asset://<ID>.
                      video_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: Video URL or asset://<ID> (mp4/mov, max 50 MB, 2–15s).
                      audio_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: Audio URL, Base64 data URI, or asset://<ID> (wav/mp3, max 15 MB).
                      role:
                        type: string
                        enum: [first_frame, last_frame, reference_image, reference_video, reference_audio]
                        description: How this item is used. Omit for plain text or single first-frame image.
                  example:
                    - type: text
                      text: A cat playing piano in a sunlit room, cinematic lighting
                generate_audio:
                  type: boolean
                  default: true
                  description: Generate synchronized voice, sound effects, and background music.
                resolution:
                  type: string
                  enum: [480p, 720p, 1080p]
                  default: 720p
                  description: Output resolution.
                ratio:
                  type: string
                  enum: ["16:9", "4:3", "1:1", "3:4", "9:16", "21:9", adaptive]
                  default: adaptive
                  description: Output aspect ratio.
                duration:
                  type: integer
                  minimum: 4
                  maximum: 15
                  default: 5
                  description: Video duration in seconds.
                tools:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [web_search]
                  description: Enable web-search-enhanced generation (text-to-video only).
                watermark:
                  type: boolean
                  default: false
                  description: Add a watermark to the output video.
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    example: asyntask_h81efT0qwtLnzyt6VENmCZ6VXSfNxE2E
                    description: Platform task ID; pass it to the task query endpoint.
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/video/generations/{task_id}:
    get:
      operationId: getSeedanceVideoTask
      summary: Query video task
      description: Polls a video generation task. Poll roughly every 15 seconds until status is SUCCESS or FAILURE. The result URL is valid for 24 hours — download it promptly. Quota is auto-refunded on failure.
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
          example: asyntask_h81efT0qwtLnzyt6VENmCZ6VXSfNxE2E
          description: Task ID returned by the create endpoint.
      responses:
        "200":
          description: Task state
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: success
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      task_id:
                        type: string
                        example: asyntask_h81efT0qwtLnzyt6VENmCZ6VXSfNxE2E
                      action:
                        type: string
                        enum: [generate, referenceGenerate, firstTailGenerate, omniGenerate]
                        description: Task sub-type.
                      status:
                        type: string
                        enum: [NOT_START, QUEUED, IN_PROGRESS, SUCCESS, FAILURE]
                        description: Keep polling until SUCCESS or FAILURE.
                      result_url:
                        type: string
                        description: Pre-signed video download URL, valid 24 hours. Omitted on failure.
                      fail_reason:
                        type: string
                        description: Error message on failure.
                      submit_time:
                        type: integer
                        description: Submit timestamp (Unix seconds).
                      start_time:
                        type: integer
                        description: Upstream start timestamp; 0 if not started.
                      finish_time:
                        type: integer
                        description: Finish timestamp.
                      progress:
                        type: string
                        example: "100%"
                      request_id:
                        type: string
                      data:
                        type: object
                        description: Upstream raw output (video_url, duration, ratio, resolution, fps, seed, usage, ...).
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Task not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
