openapi: 3.1.0
info:
  title: "FLUX.1 Kontext [pro]"
  description: "Black Forest Labs FLUX.1 Kontext [pro] image editing model via AnyFast OpenAI-compatible API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/images/generations:
    post:
      operationId: createFlux1KontextPro
      summary: Image Editing / Generation
      description: "Edit an existing image or generate a new one using FLUX.1 Kontext [pro]. Pass `input_image` for editing, or omit it for text-to-image generation. Returns the result synchronously as base64-encoded JSON."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - flux-1-kontext-pro
                  description: Model ID
                  example: flux-1-kontext-pro
                prompt:
                  type: string
                  description: "Text description of the desired image, or editing instructions (e.g. 'change the red car to blue')."
                  example: "Change the background to a sunset beach"
                input_image:
                  type: string
                  description: "Base64-encoded or URL of the reference image to edit. Required for image editing."
                n:
                  type: integer
                  minimum: 1
                  maximum: 4
                  default: 1
                  description: "Number of images to generate."
                size:
                  type: string
                  description: "Output image size, e.g. `1024x1024`."
                  example: "1024x1024"
                output_format:
                  type: string
                  enum: [jpeg, png]
                  description: "Output image format."
                  example: jpeg
                seed:
                  type: integer
                  description: "Random seed for reproducible generation."
      responses:
        "200":
          description: Image generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                    example: 1774002799
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        b64_json:
                          type: string
                          description: "Base64-encoded image data."
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
