openapi: 3.1.0
info:
  title: "Seedance 任务查询"
  description: "通过 AnyFast API 查询 Seedance 视频生成任务的状态和结果"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/video/generations/{id}:
    get:
      operationId: getSeedanceTaskStatus
      summary: 查询视频生成任务
      description: "通过任务 ID 查询 Seedance 视频生成任务的状态和结果。"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: "视频生成请求返回的任务 ID。"
          example: "cgt-20260330154114-hlvvj"
      responses:
        "200":
          description: 任务状态获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskQueryResponse'
        "401":
          description: 未授权
        "404":
          description: 任务不存在
components:
  schemas:
    TaskQueryResponse:
      type: object
      properties:
        code:
          type: string
          description: "响应状态码。"
          example: "success"
        message:
          type: string
          description: "响应消息。"
          example: ""
        data:
          type: object
          properties:
            task_id:
              type: string
              description: "任务 ID。"
              example: "cgt-20260330154114-hlvvj"
            action:
              type: string
              description: "生成动作类型。"
              example: "referenceGenerate"
            status:
              type: string
              enum: [QUEUING, PROCESSING, SUCCESS, FAILED]
              description: "任务状态。"
              example: "SUCCESS"
            fail_reason:
              type: string
              description: "失败原因（状态为 FAILED 时）或视频 URL（状态为 SUCCESS 时）。"
              example: ""
            submit_time:
              type: integer
              description: "任务提交时间戳（Unix 秒）。"
              example: 1774856474
            start_time:
              type: integer
              description: "任务开始时间戳（Unix 秒）。"
              example: 1774856477
            finish_time:
              type: integer
              description: "任务完成时间戳（Unix 秒）。"
              example: 1774856865
            progress:
              type: string
              description: "任务进度百分比。"
              example: "100%"
            data:
              type: object
              description: "任务结果数据。"
              properties:
                content:
                  type: object
                  properties:
                    video_url:
                      type: string
                      description: "生成的视频 URL（有效期 24 小时）。"
                      example: "https://example.com/generated-video.mp4"
                created_at:
                  type: integer
                  description: "创建时间戳（Unix 秒）。"
                  example: 1774856474
                draft:
                  type: boolean
                  example: false
                duration:
                  type: integer
                  description: "视频时长（秒）。"
                  example: 5
                framespersecond:
                  type: integer
                  description: "每秒帧数。"
                  example: 24
                generate_audio:
                  type: boolean
                  description: "是否生成了音频。"
                  example: true
                id:
                  type: string
                  description: "任务 ID。"
                  example: "cgt-20260330154114-hlvvj"
                model:
                  type: string
                  description: "使用的模型。"
                  example: "seedance"
                ratio:
                  type: string
                  description: "视频宽高比。"
                  example: "1:1"
                resolution:
                  type: string
                  description: "视频分辨率。"
                  example: "480p"
                seed:
                  type: integer
                  description: "使用的随机种子。"
                  example: 79195
                service_tier:
                  type: string
                  example: "default"
                status:
                  type: string
                  description: "结果状态。"
                  example: "succeeded"
                updated_at:
                  type: integer
                  description: "最后更新时间戳（Unix 秒）。"
                  example: 1774856848
                usage:
                  type: object
                  description: "Token 用量。"
                  properties:
                    completion_tokens:
                      type: integer
                      example: 48400
                    total_tokens:
                      type: integer
                      example: 48400
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
