openapi: 3.1.0
info:
  title: "FLUX.1 Kontext [pro]"
  description: "通过 AnyFast API 调用 Black Forest Labs FLUX.1 Kontext [pro] 图片编辑模型"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/images/generations:
    post:
      operationId: createFlux1KontextPro
      summary: 图片编辑 / 生成
      description: 使用 FLUX.1 Kontext [pro] 编辑已有图片或生成新图片。传入 `input_image` 进行图片编辑，不传则为文生图。接口为同步调用，直接返回 Base64 编码的图片数据。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  enum:
                    - flux-1-kontext-pro
                  description: 模型 ID
                  example: flux-1-kontext-pro
                prompt:
                  type: string
                  description: 图片描述或编辑指令（如"把红色汽车换成蓝色"）。
                  example: 把背景换成日落沙滩
                input_image:
                  type: string
                  description: 需要编辑的参考图片，支持 Base64 编码或 URL。图片编辑时必填。
                n:
                  type: integer
                  minimum: 1
                  maximum: 4
                  default: 1
                  description: 生成图片数量。
                size:
                  type: string
                  description: 输出图片尺寸，如 `1024x1024`。
                  example: 1024x1024
                output_format:
                  type: string
                  enum: [jpeg, png]
                  description: 输出图片格式。
                  example: jpeg
                seed:
                  type: integer
                  description: 随机种子，用于复现生成结果。
      responses:
        "200":
          description: 图片生成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                    description: 创建时间戳
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        b64_json:
                          type: string
                          description: Base64 编码的图片数据。
        "400":
          description: 请求参数有误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: 未授权
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
