openapi: 3.1.0
info:
  title: "Seedream 5.0 i2i"
  description: "ByteDance Seedream 5.0 — image-to-image generation via AnyFast API"
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /v1/images/generations:
    post:
      operationId: createSeedream50I2i
      summary: Create Image-to-Image Task
      description: "Generate an image from text and reference images using the doubao-seedream-5-0-260128 model."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
                - image
              properties:
                model:
                  type: string
                  enum:
                    - doubao-seedream-5-0-260128
                  description: Model ID
                  example: doubao-seedream-5-0-260128
                prompt:
                  type: string
                  description: "Text prompt for image generation."
                  example: "A girl and a cow doll happily riding a roller coaster in an amusement park"
                image:
                  type: array
                  items:
                    type: string
                  description: "Reference image URLs for image-to-image generation. Required for i2i."
                  example:
                    - "https://example.com/ref1.png"
                    - "https://example.com/ref2.png"
                sequential_image_generation:
                  type: string
                  enum: ["auto"]
                  description: "Sequential image generation mode. Set to 'auto' to generate a batch of images."
                sequential_image_generation_options:
                  type: object
                  description: "Options for sequential image generation."
                  properties:
                    max_images:
                      type: integer
                      description: "Maximum number of images to generate in a batch."
                      example: 3
                size:
                  type: string
                  enum:
                    - "2048x2048"
                    - "1728x2304"
                    - "2304x1728"
                    - "2848x1600"
                    - "1600x2848"
                    - "2496x1664"
                    - "1664x2496"
                    - "3136x1344"
                    - "3072x3072"
                    - "2592x3456"
                    - "3456x2592"
                    - "4096x2304"
                    - "2304x4096"
                    - "2496x3744"
                    - "3744x2496"
                    - "4704x2016"
                  description: "Output image size."
                  example: "2048x2048"
                watermark:
                  type: boolean
                  default: false
                  description: "Whether to include watermark."
                seed:
                  type: integer
                  description: "Random seed for reproducibility."
                logo_info:
                  type: object
                  description: "Custom logo/watermark configuration."
                  properties:
                    add_logo:
                      type: boolean
                      description: "Whether to add a logo watermark."
                    position:
                      type: integer
                      description: "Logo position."
                    language:
                      type: integer
                      description: "Logo language."
                    opacity:
                      type: number
                      description: "Logo opacity (0-1)."
      responses:
        "200":
          description: Image generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  model:
                    type: string
                    description: "Model used for generation."
                    example: "doubao-seedream-5-0-260128"
                  created:
                    type: integer
                    description: "Creation timestamp (Unix seconds)."
                    example: 1775029815
                  data:
                    type: array
                    description: "Generated image list."
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          description: "URL of the generated image."
                          example: "https://ark-content-generation-v2-cn-beijing.example.com/image.png"
                        size:
                          type: string
                          description: "Image dimensions."
                          example: "2048x2048"
                  usage:
                    type: object
                    description: "Token usage."
                    properties:
                      generated_images:
                        type: integer
                        description: "Number of images generated."
                        example: 1
                      output_tokens:
                        type: integer
                        description: "Output tokens consumed."
                        example: 16384
                      total_tokens:
                        type: integer
                        description: "Total tokens consumed."
                        example: 16384
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
