openapi: 3.1.0
info:
  title: Gemini 3.1 Pro Preview
  description: Google Gemini 3.1 Pro Preview via AnyFast proxy
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
paths:
  /v1beta/models/gemini-3.1-pro-preview:generateContent:
    post:
      operationId: Gemini31ProPreviewGenerateContent
      summary: Text Generation
      description: Generate model response based on conversation content.
      parameters:
        - name: key
          in: query
          description: API Key
          required: true
          schema:
            type: string
          example: YOUR_API_KEY
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contents
              properties:
                contents:
                  type: array
                  description: Array of conversation contents with user and model messages.
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum: [user, model]
                        example: user
                      parts:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              description: Text content
                  example:
                    - role: user
                      parts:
                        - text: "Hello, tell me about yourself."
                systemInstruction:
                  type: object
                  description: System instruction
                  properties:
                    parts:
                      type: array
                      items:
                        type: object
                        properties:
                          text:
                            type: string
                  example:
                    parts:
                      - text: "You are a helpful assistant."
                generationConfig:
                  type: object
                  properties:
                    temperature:
                      type: number
                      minimum: 0
                      maximum: 2
                      default: 1
                      description: Sampling temperature. Higher values make output more random.
                      example: 1
                    topP:
                      type: number
                      minimum: 0
                      maximum: 1
                      default: 1
                      description: Nucleus sampling threshold.
                    thinkingConfig:
                      type: object
                      description: Thinking configuration
                      properties:
                        includeThoughts:
                          type: boolean
                          default: true
                          description: Whether to include thinking process
                        thinkingBudget:
                          type: integer
                          default: 26240
                          description: Thinking token budget
      responses:
        "200":
          description: Response generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateContentResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    GenerateContentResponse:
      type: object
      properties:
        candidates:
          type: array
          items:
            type: object
            properties:
              content:
                type: object
                properties:
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          example: "Hello! I am Gemini, nice to meet you."
                  role:
                    type: string
                    example: model
              finishReason:
                type: string
                example: STOP
        usageMetadata:
          type: object
          properties:
            promptTokenCount:
              type: integer
            candidatesTokenCount:
              type: integer
            totalTokenCount:
              type: integer

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
            status:
              type: string
