openapi: 3.1.0
info:
  title: Doubao Embedding Vision
  description: ByteDance multimodal embedding via the Upmore OpenAI-compatible API
  version: 1.0.0
servers:
  - url: https://api.upmore.net
security:
  - bearerAuth: []
paths:
  /v1/embeddings:
    post:
      operationId: createEmbeddingDoubaoVision
      summary: Create multimodal embedding
      description: Embeds text, an image, or a combined text+image input into a single 2048-dimension vector. Text and image tokens are billed at separate rates.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - input
              properties:
                model:
                  type: string
                  enum:
                    - doubao-embedding-vision
                  example: doubao-embedding-vision
                  description: Must be doubao-embedding-vision.
                input:
                  type: array
                  description: Content objects (Ark multimodal format). Text-only input also uses this array form. The whole input produces one fused embedding.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [text, image_url]
                      text:
                        type: string
                        description: Text content. For text items.
                      image_url:
                        type: object
                        properties:
                          url:
                            type: string
                            description: Image URL or Base64 data URI.
                  example:
                    - type: text
                      text: A ginger cat napping on a piano
                    - type: image_url
                      image_url:
                        url: https://example.com/cat.jpg
      responses:
        "200":
          description: Embedding created
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  model:
                    type: string
                  data:
                    type: object
                    properties:
                      object:
                        type: string
                        example: embedding
                      embedding:
                        type: array
                        items:
                          type: number
                        description: 2048-dimension vector for the whole input.
                  usage:
                    type: object
                    properties:
                      prompt_tokens:
                        type: integer
                      total_tokens:
                        type: integer
                      prompt_tokens_details:
                        type: object
                        properties:
                          text_tokens:
                            type: integer
                            description: Billed at the text input rate.
                          image_tokens:
                            type: integer
                            description: Billed at the vision input rate.
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
