openapi: 3.1.0
info:
  title: Gemini 2.0 Flash
  description: Google Gemini 2.0 Flash via AnyFast proxy
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
paths:
  /v1beta/models/gemini-2.0-flash:generateContent:
    post:
      operationId: Gemini20FlashEditImage
      summary: Image Editing
      description: Edit images using Gemini model.
      parameters:
        - name: key
          in: query
          description: API Key
          required: true
          schema:
            type: string
          example: YOUR_API_KEY
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contents
                - generationConfig
              properties:
                contents:
                  type: array
                  description: Array of contents with editing instructions and source images.
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum: [user, model]
                        example: user
                      parts:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              description: Editing instruction
                            inline_data:
                              type: object
                              properties:
                                mime_type:
                                  type: string
                                  description: Image MIME type (e.g. image/png)
                                  example: image/png
                                data:
                                  type: string
                                  description: Base64 encoded image data
                  example:
                    - role: user
                      parts:
                        - text: "Change the background to blue sky with clouds"
                        - inline_data:
                            mime_type: image/png
                            data: "BASE64_IMAGE_DATA"
                generationConfig:
                  type: object
                  required:
                    - responseModalities
                  properties:
                    responseModalities:
                      type: array
                      description: Response modalities. Set to IMAGE to return edited image.
                      items:
                        type: string
                      example:
                        - IMAGE
      responses:
        "200":
          description: Image edited successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateContentResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    GenerateContentResponse:
      type: object
      properties:
        candidates:
          type: array
          items:
            type: object
            properties:
              content:
                type: object
                properties:
                  parts:
                    type: array
                    items:
                      type: object
                      properties:
                        inline_data:
                          type: object
                          properties:
                            mime_type:
                              type: string
                              example: image/png
                            data:
                              type: string
                              example: "iVBORw0KGgo..."
                        text:
                          type: string
                  role:
                    type: string
                    example: model
              finishReason:
                type: string
                example: STOP
        usageMetadata:
          type: object
          properties:
            promptTokenCount:
              type: integer
            candidatesTokenCount:
              type: integer
            totalTokenCount:
              type: integer

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
            status:
              type: string
