openapi: 3.1.0
info:
  title: Kling Custom Element List
  description: List all custom elements created by the current user.
  version: 1.0.0
servers:
  - url: https://www.anyfast.ai
security:
  - bearerAuth: []
paths:
  /kling/v1/general/advanced-custom-elements:
    get:
      operationId: listKlingCustomElements
      summary: List Custom Elements
      description: Retrieve a paginated list of all custom elements created by the current user.
      parameters:
        - name: pageNum
          in: query
          required: false
          description: Page number, starting from 1.
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page.
          schema:
            type: integer
            default: 10
            example: 10
      responses:
        "200":
          description: List retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  message:
                    type: string
                    example: SUCCEED
                  request_id:
                    type: string
                    example: "94005dc2-d539-4f44-b6ef-e113d180e63b"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        task_id:
                          type: string
                        task_status:
                          type: string
                          enum: [submitted, succeed, failed]
                        task_result:
                          type: object
                          properties:
                            elements:
                              type: array
                              items:
                                $ref: "#/components/schemas/Element"
                        created_at:
                          type: integer
                          description: Creation timestamp (ms)
                        updated_at:
                          type: integer
                          description: Update timestamp (ms)
                        final_unit_deduction:
                          type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Element:
      type: object
      properties:
        element_id:
          type: integer
        element_name:
          type: string
        element_description:
          type: string
        element_type:
          type: string
        status:
          type: string
        tag_list:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
